.add-form {
  width: 90%;
  margin: auto;
}

input {
  height: 2rem;
  border-color: #fafafa;
  border-style: solid;
}

input#title {
  width: 40%;
}

input#category {
  width: 20%;
}

.input-area {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: baseline;
}

.add-Title {
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

button {
  width: 15%;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  border-style: none;
  background-color: #0290ff;
}

.ADD-BOOK {
  height: 1.125rem;
  font-family: RobotoSlab Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
